<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>DMS Member Profiles</title>

    <link rel="stylesheet" href="./static/styles/global.css" />
    <link rel="stylesheet" href="./static/styles/index.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800;900&display=swap"
    />
</head>
<body>
<div class="main">
    <header class="top-nav">
        <div class="top-nav-title-wrapper">
            <div class="dms-title"><a href="/" class="link-reset">DMS Member Profiles</a></div>
            <div class="top-nav-logout">
                <a class="link-reset" href="https://login.dallasmakerspace.org/auth/realms/DMS/account/">Logout</a>
            </div>
        </div>
        <div class="top-nav-divider"></div>
    </header>
    <section class="main-inner">
        <div class="welcome-member-22-parent">
            <h1 class="welcome-member-22">Welcome, <span th:text="${name}"/>!</h1>
            <div class="edit-your-profile-wrapper">
                <div class="edit-your-profile" id="editYourProfile">
                    <a th:href="${profile_url}">Edit your profile</a>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
