<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/styles/global.css" />
    <link rel="stylesheet" href="../static/styles/profile.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800;900&display=swap" rel="stylesheet">
    <title th:text="'@' + ${preferred_username}"></title>
</head>
<body>
<div class="profile">
    <header class="top-nav">
        <div class="top-nav-title-wrapper">
            <div class="dms-title"><a href="/" class="link-reset">DMS Member Profiles</a></div>
            <div class="top-nav-logout">
                <a class="link-reset" href="https://login.dallasmakerspace.org/auth/realms/DMS/account/">Logout</a>
            </div>
        </div>
        <div class="top-nav-divider1"></div>
    </header>
    <section class="content">
        <div class="card-bio1">
            <div class="linked-accounts-label">
                <div class="profile-pic">
                    <img src="../static/images/profile-pic-not-set.svg" alt="Profile Picture">
                </div>
                <div class="bg-pic">
                    <img
                            class="mask-group-icon"
                            alt=""
                            src="../static/images/bg.webp"
                    />
                </div>
                <div class="user-fullname" th:text="${name}"></div>
            </div>
            <div class="username">
                <b class="username-label" th:text="'@' + ${preferred_username}"></b>
            </div>
            <div class="card-bio-inner" th:if="${member_since}">
                <div class="frame-parent">
                    <div class="lightbulb-circle-parent">
                        <img
                                class="lightbulb-circle-icon"
                                loading="lazy"
                                alt=""
                                src="../static/images/lightbulb-circle.svg"
                        />

                        <div class="link-account-label">
                            <b class="member-since-apr">Member since <span th:text="${member_since}"></span></b>
                        </div>
                    </div>
                    <div class="vector-parent">
                        <img class="vector-icon1" alt="" src="../static/images/clock.svg" />

                        <div class="total-time-at-dms-21-years-wrapper">
                            <b class="total-time-at">Total time at DMS: <span th:text="${membership_duration}"></span></b>
                        </div>
                    </div>
                    <div th:if="${discourse_username}" class="vector-parent">
                        <img class="vector-icon1" alt="" src="../static/images/discourse.svg" />

                        <div class="total-time-at-dms-21-years-wrapper">
                            <b class="total-time-at">Send message on <a target=_blank"" th:href="|https://talk.dallasmakerspace.org/new-message?username=${discourse_username}&title=Hey%20👋|">talk</a></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${is_self}" class="card-linked-accounts">
            <div class="linked-accounts">Linked Accounts</div>
            <div class="discourse-icon-1-parent">
                <img
                        class="discourse-icon-1"
                        loading="lazy"
                        alt=""
                        src="../static/images/discourse.svg"
                />

                <div class="frame-wrapper">
                    <div class="talk-member-parent">
                        <b class="talk-member">Talk:
                            <span th:if="${discourse_username}"><a th:href="|https://talk.dallasmakerspace.org/u/${discourse_username}/summary|" target="_blank"><span th:text="|${discourse_username}|"></span></a></span>
                            <span th:unless="${discourse_username}">Not Linked</span>
                        </b>
                        <div class="unlink-account" id="unlinkAccountText">
                            <span th:if="${discourse_username}"><a href="/unlink-discourse">Unlink Account</a></span>
                            <span th:unless="${discourse_username}"><a href="/link-discourse">Link Account</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-group">
                <img
                        class="frame-child"
                        loading="lazy"
                        alt=""
                        src="../static/images/discord.svg"
                />

                <div class="frame-container">
                    <div class="discord-not-linked-parent">
                        <b class="discord-not-linked-container">
                            <span>Discord:</span>
                            <span class="span"> </span>
                            <span>Coming Soon</span>
                        </b>
                    </div>
                </div>
            </div>
            <div class="vector-group">
                <img class="vector-icon2" alt="" src="../static/images/github.svg" />

                <div class="github-coming-soon-wrapper">
                    <b class="github-coming-soon">Github: Coming Soon</b>
                </div>
            </div>
        </div>
        <div th:if="${is_self}" class="card-linked-accounts">
            <div class="linked-accounts">Voting Rights</div>
            <div class="discourse-icon-1-parent">
                <img
                        class="discourse-icon-1"
                        loading="lazy"
                        alt=""
                        src="../static/images/vote.svg"
                />

                <div class="frame-wrapper">
                    <div class="talk-member-parent">
                        <b>
                            <span th:if="${is_voting_member}">Congratulations! You are enrolled to vote in DMS elections 🥳.</span>
                            <span th:unless="${is_voting_member}">You are not currently registered to vote ❌.</span>
                        </b>
                        <br/>
                        <div class="voting-self-service">
                            <span th:unless="${is_voting_member}">Coming soon: self service voter enrollment.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
